@CHARSET "ISO-8859-1";

.ui-tooltip {
  position: absolute !important;
  z-index: 101 !important;
  text-align: left !important;
  font-style: normal !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #fff !important;
  padding: 12px !important;
  background: #303030 !important;
  border-radius: 4px !important;
  border: none !important;
}
.ui-tooltip .marker {
  position: absolute !important;
  display: block !important;
  bottom: -8px !important;
  right: 15px !important;
  background: url(../pics/marker-sprite.png) 0 -20px no-repeat !important;
  width: 16px !important;
  height: 8px !important;
}
.ui-tooltip.ui-tooltip-flip .marker {
  left: 15px !important;
}

#FlowBrowser .freeTextAlternativeValue {
	margin-top: 5px;
	margin-left: 3px;
	width: 50%;
}

FlowBrowser.contentitem input[type="checkbox"], input[type="radio"] {
	display: none;
}

#ajaxLoadingMessage h1, #submitLoadingMessage h1 {
	background: url("../pics/loading.gif") no-repeat scroll 18px center transparent;
    float: left;
    font-size: 17px !important;
    font-weight: 400;
    margin: 10px 0;
    padding: 0 18px 0 45px;
    text-align: center;
    text-transform: none;
}

#ajaxLoadingMessage p.tiny {
	background: none repeat scroll 0 0 transparent;
    float: right;
    font-size: 10px;
    margin: 20px 5px 0 0 !important;
    padding: 0;
}

#ajaxErrorMessage {
	cursor: default;
	padding: 15px;
}

#ajaxErrorMessage h1 {
	font-size: 17px !important;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: none;
	font-weight: 400;
}

#ajaxErrorMessage p {
	margin: 0 0 10px 0;
}

#ajaxErrorMessage input[type="button"] {
	font-size: 1em;
	margin-right: 5px;
	display: inline;
}

.blockMsg {
	width: auto !important;
	border: 1px solid #2969BF !important;
	border-radius: 3px;
	background-color: #F3F8FF !important;
}

.blockOverlay {
	opacity: 0 !important;
}

table.oep-table th {
	white-space: normal;
}

table.oep-table thead.sortable tr .header {
	cursor: pointer;
}

table.oep-table thead.sortable th.headerSortDown span:after, table.oep-table thead.sortable th.headerSortUp span:after {
	display: inline-block;
}

table.oep-table tr.disabled td, table.oep-table tr.disabled td a {
	color: #7b7b7b;
}

table.full.coloredtable.sortabletable.oep-table.flowfamilyeventstable {
	word-break: break-all;
}

#sortingForm .affectedQuery {
	background-color: #ffdddd;
}

.heading-wrapper p.description {
	clear: both;
	padding: 0 0 0 27px;
}

.usergroup-list{
	padding: 0 0 0 0;
}

#OperatingMessageModule div.scrolllist {
	height: 200px;
}

#FlowBrowser section.modal.warning {
	padding: 10px 10px;
}

#FlowInstanceAdminModule div.top-right-slot{
	float: right;
	color: #424242;
	margin-top: 20px;
	margin-right: 42px;
}

#FlowInstanceAdminModule div.top-right-slot div.extensionlink{
	
	float:right;
	clear:both;
}

.query:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

.queries .query:first-child:before { 
  margin-top: -15px;
  height: 15px; 
}

#FlowInstanceAdminModule .description strong.overview, #UserFlowInstanceModule .description strong.overview {
	
	width: 160px;
	display: inline-block;
}

#FlowInstanceAdminModule .description div.overview {
	padding-left: 160px;
}

#FlowInstanceAdminModule ul.manager-list img.group-picture {
	margin: 9.5px 9.5px;
}

#FlowInstanceAdminModule .errands-wrapper .oep-table.flowinstance-table tbody tr:hover td {
	background: #dddddd !important;
	cursor: pointer;
}


#FlowBrowser a.messagelink {
	color: #54646c;
}

#FlowInstanceAdminModule a.messagelink {
	color: #54646c;
}

@media screen and (min-width: 766.99px) {
	.userflowinstances .errands-wrapper td.link a.btn:not(:last-child) {
		margin-right: 3px;
	}
}

@media screen and (max-width: 767px) {
	.userflowinstances .errands-wrapper td.link a.btn:not(:last-child):nth-child(2n+1) {
		margin-right: 2% !important;
	}
	
	.userflowinstances .errands-wrapper td.link a.btn:nth-child(n+3) {
		margin-top: 8px !important;
	}
}

.upload.active .uploaded-flowtype-icon, .upload:hover .uploaded-flowtype-icon {
  	background: #E5DEE8;
  	border-color: #611C7B;
}

.flowtype-icon-upload {
	position: relative;
}

.flowtype-icon-preview {
	background-color: #fff;
	left: calc(50% - 125px);
	position: absolute;
	top: 10px;
	width: 250px;
	text-align: center;
}

.uploaded-flowtype-icon a.btn {
	width: 95px;
}

.flowtype-icon-upload input[type="file"] {
	width: inherit;
}

.upload.flowtype-icon-upload:hover {
	background-color: #FFF;
}

@media screen and (min-width: 1005px) {

	.start-flow-panel.fixed {
	    position: fixed;
	    right: 0;
	    top: 0;
	    max-width: 400px;
	    padding-top: 25px;
	    margin: 0;
	    z-index: 100;
	}

}

@media screen and (min-width: 1005px) {

	.start-flow-panel.absolute {
	    position: absolute;
	    bottom: 0;
	    max-width: 400px;
	    padding-bottom: 25px;
	    margin: 0;
	    z-index: 100;
	}

}

.query.mergewithpreviousquery > article {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    padding-top: 0px;
}
.query.mergewithpreviousquery > article > div.heading-wrapper {
	margin-top: 10px;
}
.query.mergewithpreviousquery .info-box.error {
	margin-top: 0px;
}

.query.mergedquery > article {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.receipt .query.mergewithpreviousquery > article {
    border-top: none;
}
.preview .query.mergewithpreviousquery > article {
    border-top: none;
}

.receipt .query.mergedquery > article {
	border-bottom: none;
}
.preview .query.mergedquery > article {
	border-bottom: none;
}

.flowadmin .automanagerassignment .usergrouplist-split > div, .featherlight-content .usergrouplist-split > div {
	width: calc(50% - 5px)
}

.flowadmin .automanagerassignment .usergrouplist-split input.full[type = "text"], .featherlight-content .usergrouplist-split input.full[type = "text"] {
	width: 100%;
}

/* fix for interface.css setting width:100% on small displays */ 
.featherlight-content input {
	width: auto;
}

.featherlight-content input[type='checkbox'], .featherlight-content input[type='radio']  {
	display: inline;
	position: static;
	opacity: 1;
}

.featherlight-content input[type="checkbox"]:checked + label::before, .featherlight-content input[type="radio"]:checked + label::before {
	font-family: unset;
	content: unset;
	font-size: unset;
	line-height: unset;
	padding: unset;
	text-align: unset;
	color: unset;
	border-color: unset;
}

.featherlight.ui-front > .ui-autocomplete {
	text-align: initial;
	white-space: normal;
}

div.section-inside .description .btn-readmore {
    bottom: 0px;
    top: auto;
}

@media 
only screen and (max-device-width: 1004px)  {
	/* Force table to not be like tables anymore */
	table.signingstatustable, .signingstatustable thead, .signingstatustable tbody, .signingstatustable th, .signingstatustable td, .signingstatustable tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.signingstatustable thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.signingstatustable td { 
/* 		Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.signingstatustable td:before { 
/* 		Now like a table header */
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.signingstatustable td {
		border-bottom: none;
	}

	.signingstatustable tr {
		border: none;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	.signingstatustable thead {
		display: none;
	}
	
	/* Label the data */
	.signingstatustable td:nth-of-type(1):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(2):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(3):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(4):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(5):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(6):before { content: attr(data-name); }
}
