@CHARSET "ISO-8859-1";

.ui-tooltip {
  position: absolute !important;
  z-index: 101 !important;
  text-align: left !important;
  font-style: normal !important;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  color: #fff !important;
  padding: 12px !important;
  background: #303030 !important;
  border-radius: 4px !important;
  border: none !important;
}
.ui-tooltip .marker {
  position: absolute !important;
  display: block !important;
  bottom: -8px !important;
  right: 15px !important;
  background: url(../pics/marker-sprite.png) 0 -20px no-repeat !important;
  width: 16px !important;
  height: 8px !important;
}
.ui-tooltip.ui-tooltip-flip .marker {
  left: 15px !important;
}

.ui-helper-hidden-accessible{
	display: none;
}

#FlowBrowser .freeTextAlternativeValue {
	margin-top: 5px;
	margin-left: 3px;
	width: 50%;
}

FlowBrowser.contentitem input[type="checkbox"], input[type="radio"] {
	display: none;
}

#ajaxLoadingMessage h1, #submitLoadingMessage h1 {
	background: url("../pics/loading.gif") no-repeat scroll 18px center transparent;
    float: left;
    font-size: 17px !important;
    font-weight: 400;
    margin: 10px 0;
    padding: 0 18px 0 45px;
    text-align: center;
    text-transform: none;
}

#ajaxLoadingMessage p.tiny {
	background: none repeat scroll 0 0 transparent;
    float: right;
    font-size: 10px;
    margin: 20px 5px 0 0 !important;
    padding: 0;
}

#ajaxErrorMessage {
	cursor: default;
	padding: 15px;
}

#ajaxErrorMessage h1 {
	font-size: 17px !important;
	text-align: center;
	margin: 0 0 5px 0;
	padding: 0;
	text-transform: none;
	font-weight: 400;
}

#ajaxErrorMessage p {
	margin: 0 0 10px 0;
}

#ajaxErrorMessage input[type="button"] {
	font-size: 1em;
	margin-right: 5px;
	display: inline;
}

.blockMsg {
	width: auto !important;
	border: 1px solid #2969BF !important;
	border-radius: 3px;
	background-color: #F3F8FF !important;
}

.blockOverlay {
	opacity: 0 !important;
}

table.oep-table th {
	white-space: normal;
}

table.oep-table thead.sortable tr .header {
	cursor: pointer;
}

table.oep-table thead.sortable th.tablesorter-headerDesc span:after, table.oep-table thead.sortable th.tablesorter-headerAsc span:after {
	display: inline-block;
}

table.oep-table tr.disabled td, table.oep-table tr.disabled td a {
	color: #7b7b7b;
}

table.full.coloredtable.sortabletable.oep-table.flowfamilyeventstable {
	word-break: break-all;
}

#sortingForm .affectedQuery {
	background-color: #ffdddd;
}

.heading-wrapper p.description {
	clear: both;
	padding: 0 0 0 27px;
}

.usergroup-list{
	padding: 0 0 0 0;
}

#OperatingMessageModule div.scrolllist {
	height: 200px;
}

#FlowBrowser section.modal.warning {
	padding: 10px 10px;
}

#FlowInstanceAdminModule div.top-right-slot{
	float: right;
	color: #424242;
	margin-top: 20px;
	margin-right: 42px;
}

#FlowInstanceAdminModule div.top-right-slot div.extensionlink{
	
	float:right;
	clear:both;
}

.query:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}

.queries .query:first-child:before { 
  margin-top: -15px;
  height: 15px; 
}

#FlowInstanceAdminModule .description strong.overview, #UserFlowInstanceModule .description strong.overview {
	
	width: 160px;
	display: inline-block;
}

#FlowInstanceAdminModule .description div.overview {
	padding-left: 160px;
}

#FlowInstanceAdminModule ul.manager-list img.group-picture {
	margin: 9.5px 9.5px;
}

#FlowInstanceAdminModule .errands-wrapper .oep-table.flowinstance-table tbody tr:hover td {
	background: #dddddd !important;
	cursor: pointer;
}


#FlowBrowser a.messagelink {
	color: #54646c;
}

#FlowInstanceAdminModule a.messagelink {
	color: #54646c;
}

@media screen and (min-width: 766.99px) {
	.userflowinstances .errands-wrapper td.link a.btn:not(:last-child) {
		margin-right: 3px;
	}
	.userflowinstances .errands-wrapper td.link.img-link a:not(:last-child) {
		margin-right: 3px;
	}
}

@media screen and (max-width: 767px) {
	.userflowinstances .errands-wrapper td.link a.btn:not(:last-child):nth-child(2n+1) {
		margin-right: 2% !important;
	}
	
	.userflowinstances .errands-wrapper td.link a.btn:nth-child(n+3) {
		margin-top: 8px !important;
	}
	.userflowinstances .errands-wrapper td.link.img-link {
	  display: flex;
	}
	.userflowinstances .errands-wrapper td.link.img-link a {
	  flex-grow: 1;
	}
}

.upload.active .uploaded-flowtype-icon, .upload:hover .uploaded-flowtype-icon {
  	background: #E5DEE8;
  	border-color: #611C7B;
}

.flowtype-icon-upload {
	position: relative;
}

.flowtype-icon-preview {
	background-color: #fff;
	left: calc(50% - 125px);
	position: absolute;
	top: 10px;
	width: 250px;
	text-align: center;
}

.uploaded-flowtype-icon a.btn {
	width: 95px;
}

.flowtype-icon-upload input[type="file"] {
	width: inherit;
}

.upload.flowtype-icon-upload:hover {
	background-color: #FFF;
}

@media screen and (min-width: 1005px) {

	.start-flow-panel.fixed {
	    position: fixed;
	    right: 0;
	    top: 0;
	    max-width: 400px;
	    padding-top: 25px;
	    margin: 0;
	    z-index: 100;
	}

}

@media screen and (min-width: 1005px) {

	.start-flow-panel.absolute {
	    position: absolute;
	    bottom: 0;
	    max-width: 400px;
	    padding-bottom: 25px;
	    margin: 0;
	    z-index: 98;
	}

}

.query.mergewithpreviousquery > article {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: 0;
    padding-top: 0px;
}
.query.mergewithpreviousquery > article > div.heading-wrapper {
	margin-top: 10px;
}
.query.mergewithpreviousquery .info-box.error {
	margin-top: 0px;
}

.query.mergedquery > article {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.receipt .query.mergewithpreviousquery > article {
    border-top: none;
}
.preview .query.mergewithpreviousquery > article {
    border-top: none;
}

.receipt .query.mergedquery > article {
	border-bottom: none;
}
.preview .query.mergedquery > article {
	border-bottom: none;
}

.flowadmin .automanagerassignment .usergrouplist-split > div, .featherlight-content .usergrouplist-split > div {
	width: calc(50% - 5px)
}

.flowadmin .automanagerassignment .usergrouplist-split input.full[type = "text"], .featherlight-content .usergrouplist-split input.full[type = "text"] {
	width: 100%;
}

/* fix for interface.css setting width:100% on small displays */ 
.featherlight-content input {
	width: auto;
}

.featherlight-content input[type='checkbox'], .featherlight-content input[type='radio']  {
	display: inline;
	position: static;
	opacity: 1;
}

.featherlight-content input[type="checkbox"]:checked + label::before, .featherlight-content input[type="radio"]:checked + label::before {
	font-family: unset;
	content: unset;
	font-size: unset;
	line-height: unset;
	padding: unset;
	text-align: unset;
	color: unset;
	border-color: unset;
}

.featherlight.ui-front > .ui-autocomplete {
	text-align: initial;
	white-space: normal;
}

div.section-inside .description .btn-readmore {
    bottom: 0px;
    top: auto;
}

@media 
only screen and (max-device-width: 1004px)  {
	/* Force table to not be like tables anymore */
	table.signingstatustable, .signingstatustable thead, .signingstatustable tbody, .signingstatustable th, .signingstatustable td, .signingstatustable tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.signingstatustable thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.signingstatustable td { 
/* 		Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.signingstatustable td:before { 
/* 		Now like a table header */
		position: absolute;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	.signingstatustable td {
		border-bottom: none;
	}

	.signingstatustable tr {
		border: none;
		border-bottom: 1px solid #ccc;
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	.signingstatustable thead {
		display: none;
	}
	
	/* Label the data */
	.signingstatustable td:nth-of-type(1):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(2):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(3):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(4):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(5):before { content: attr(data-name); }
	.signingstatustable td:nth-of-type(6):before { content: attr(data-name); }
}

aside.narrow {
	width: 17.063%;
	margin-right: 0.9%;
}

aside.narrow + .content.omega {
	/* width: 76.0375%; */
	width: 82.037%;
}

@media screen and (max-width: 1004px) {

	aside.narrow section {
		width: 100%;
	}

}

@media screen and (max-width: 767px) {

	aside.narrow {
		width: 95%;
		margin: 0 2.5%;
		margin-top: 15px;
	}

	aside.narrow + .content.omega {
		width: 100%;
		margin-left: 2.5%;
	}

	#flowMenu ul {
		margin: 0;
	}

	#flowMenu.fixed {
		position: initial;
	}

}

#flowMenu {
	padding-bottom: 10px;
}

#flowMenu ul {
	padding-top: 10px;
	margin-bottom: 0;
	margin-top: 0;
}

#flowMenu ul li a {
	text-overflow: ellipsis;
	overflow: hidden;
}

#flowMenu.fixed {
	position: fixed;
	top: 5px;
}

.flowadmin.showflow {
	background: transparent;
	padding: 0;
	border: none;
}

.flowadmin.showflow .showflow-wrapper {
	background-color: #FFF;
	font-size: 14px;
	box-sizing: border-box;
	float: left;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 12px;
	width: 100%;
}

.flowadmin.showflow .showflow-wrapper h2.title {
	font-size: 16px;
	padding: 12px 2% 12px;
	border-bottom: 1px solid #ECECEC;
}

.flowadmin.showflow .showflow-wrapper .showflow-content {
	padding: 16px 2% 19px;
	box-sizing: border-box;
	float: left;
	width: 100%;
}

.flowadmin.showflow .showflow-moreinfo-footer {
	width: 100%;
	float: left;
	text-align: center;
	padding: 7px 0px;
	font-size: 16px;
	border-top: 1px solid #ECECEC;
	background-color: #F7F7F7;
}

.flowadmin.showflow .showflow-moreinfo-footer + a:hover {
	background-color: #ECECEC;
}

.flowadmin.showflow .oep-table thead th {
	font-size: 15px;
}

.flowadmin.showflow .extensionproviders-wrapper {
	float: left;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
}

.flowadmin.showflow .extensionproviders-wrapper h2 {
	font-size: 18px;
}

.flowadmin.showflow .extensionproviders-wrapper a {
	font-size: 15px;
}

.flowadmin.showflow .showflow-wrapper .showflow-content .textsetting {
	background-color: #F7F7F7;
	box-sizing: border-box;
	margin-top: 10px;
	float: left;
	width: 100%;
	margin-bottom: 10px;
	padding: 0 10px 10px 10px;
}

.flowadmin.showflow .showflow-wrapper .showflow-content .textsetting.fifty {
	width: 49%;
}

.flowadmin.showflow .showflow-wrapper .showflow-content .textsetting.floatright {
	float: right;
}

.flowadmin.showflow .showflow-wrapper .showflow-content .textsetting .whitebackground {
	background-color: #FFF;
}

.flowadmin ul.steps {
}

.flowadmin ul.steps, .flowadmin ul.steps ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

.flowadmin ul li div.title {
	padding: 6px 10px;
}

.flowadmin ul li div.title .tools {
	white-space: nowrap;
	margin-left: auto;
	flex: none;
}

.flowadmin ul.steps li.step {
	border: 1px solid #E0DFDF;
}

.flowadmin ul.steps li.step:not(:last-child) {
	margin-bottom: 5px;
}

.flowadmin ul.steps li.step > div.title {
	background-color: #E7E7E7;
	padding: 9px 10px;
	font-weight: bold;
	font-size: 15px;
	cursor: pointer;
	line-height: 1;
	display: flex;
	align-items: center;
}

.flowadmin ul.steps li.step > div.title:hover {
	background-color: #e0dfdf;
}

.flowadmin ul.steps li.querydescriptor:not(:last-child) {
	/* border-left: 1px solid #F7F7F7;
	border-right: 1px solid #F7F7F7; */
	border-bottom: 1px solid #E0DFDF;
}

.flowadmin ul.steps li.querydescriptor > div.title {
	background-color: #F7F7F7;
	font-weight: 600;
	display: flex;
} 

.flowadmin ul.steps li.querydescriptor > div.title:hover {
	background-color: #f0f0f0;
} 

.flowadmin ul.steps li div.step-title .index {
	
}

.flowadmin ul.steps > li > div.title > .index {
	background-color: #424242;
	color: #FFF;
	border-radius: 50%;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 1px;
	padding-top: 1px;
	display: flex;
	height: 19px;
	align-items: center;
}

.flowadmin ul.steps li .index {
	margin-right: 7px;
}

.flowadmin ul.querydescriptors {
	margin-top: 0;
}

.flowadmin ul.evaluators li > div.title {
	padding-left: 6px;
	padding-bottom: 4px;
	padding-top: 4px;
	display: flex;
} 

.flowadmin ul li div.title .comment {
	display: none;
	font-size: 12.5px;
	width: 100%;
	font-weight: normal;
	font-style: italic;
}

.flowadmin ul.show-comments li div.title .comment {
	display: inline-block;
}

.flowadmin ul.evaluators li > div.title:hover {
	background-color: #f5f5f5;	
}

.flowadmin ul.evaluators li > div.title .icon {
	margin-right: 10px;
}

.flowadmin .comments-btn {
	font-size: 14px;
	font-weight: normal;
}

.flowadmin #queryTypeDescription {
	line-height: 1.6;
}

#FlowBrowser section.service .receipt > .heading-wrapper  {
	border: 2px dashed #555555;
	max-width: 500px;
	margin: auto;
	float: none;
	margin-top: 45px;
	margin-bottom: 20px;
	border-radius: 3px;
}

#FlowBrowser section.service .receipt.queries article {
	border-color: #E8E8E8;
	background-color: transparent;
}

#FlowBrowser section.service .divider {
	border-width: 3px;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-info {
	text-align: center;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-info p {
	color: #555555;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-info h2 {
	float: none;
	padding: 5px 0;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-header {
	margin: 0;
	padding: 7px;
	border-bottom: 1px solid #E8E8E8;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-header h1 {
	background: url(../pics/receipt.png) 0 2px no-repeat;
	background-size: 25px;
	padding-left: 30px;
	padding-bottom: 2px;
	padding-top: 2px;
	text-transform: uppercase;
	float: left;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-header h1, #FlowBrowser section.service .receipt .heading-wrapper .errand-info h2.h1 {
	font-size: 20px !important;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-header a {
	float: right;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-info figure {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-top: -5px;
	float: none;
	vertical-align: middle;
	display: inline-block;
}

#FlowBrowser section.service .receipt .heading-wrapper .errand-info figure img {
	width: 30px;
	height: 30px;
}

#FlowBrowser section.service .receipt.queries {
	display: none;
}

#FlowBrowser section.service .section-full.padtop.receipt {
	margin-top: 37px;
	padding-top: 15px;
}

#FlowBrowser section.service .receipt .info-box {
	color: #000;
	position: relative;
}

#FlowBrowser section.service .receipt .info-box .info-box span strong {
	font-weight: 800;
}

#FlowBrowser section.service .receipt .info-box > span {
		padding-bottom: 5px;
		text-align: left;
		padding-left: 37px;
		padding-top: 10px;
}

#FlowBrowser section.service .receipt .info-box .marker {
	display: none;
}

#FlowBrowser section.service .receipt .info-box .close {
	display: none;
}

#FlowBrowser section.service .receipt .info-box.success {
	background: #ECF6EA;
	border: 1px solid #349B46;
	border-bottom: none;
}

#FlowBrowser section.service .receipt .info-box.success.alternatesubmittext {
	background: inherit;
	border-color: inherit;
}

#FlowBrowser section.service .receipt .info-box.success span::before {
    color: #FFF;
	background-color: #158040;
    padding: 5px;
    border-radius: 50%;
    font-size: 9px;
    line-height: 0.9;
    margin-top: 3px;
    margin-right: 7px;
    position: absolute;
    left: 10px;
}

#FlowBrowser section.service .receipt .info-box-message {
	padding: 0 10px 10px 37px;
	text-align: left;
}

#FlowBrowser section.service .receipt .info-box-message > p {
	margin-top: 0px;
	margin-bottom: 3px;
	padding-top: 3px;
}

#FlowBrowser section.service .receipt .info-box-message.success {
	background: #ECF6EA;
	border: 1px solid #349B46;
	border-top: none;
	border-radius: 0 0 3px 3px;
}

@media screen and (max-width: 767px) {
	#FlowBrowser section.service .section-full.padtop.receipt {
		margin-top: 0px;
	}
	#FlowBrowser section.service .receipt > .heading-wrapper {
		margin-top: 35px;
		margin-bottom: 5px;
	}
}

.simplebox {
	background: #FFFFFF none repeat scroll 0 0;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #ECECEC;
    border-radius: 5px;
}

.simplebox.expanded > .simplebox-content {
	display: block;
}

.simplebox-title {
	background: #F1F1F1 none repeat scroll 0 0;
    font-size: 20px !important;
    margin: 0 !important;
    padding: 16px 27px !important;
    cursor: pointer;
}

.simplebox-title:hover {
	background-color: #F7F7F7;
}

.simplebox-title:focus {
	outline: 2px dotted;
	outline-color: #616161;
}

.simplebox-title p {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.simplebox-title::after {
    font-size: 11px;
    display: inline-block;
	font-family: 'riges-icons';
	content: '+';
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	vertical-align: top;
	float: right;
	margin-top: 8px;
}

.simplebox.expanded .simplebox-title::after {
	content: '-';
	margin-top: 12px;
}

.simplebox.expanded > .simplebox-title::after {
	content: "-";
	line-height: 0.9;
}

.simplebox-content {
	background: #fff;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: none;
}
