.messages .message .quote {
	display: inline-block;
	padding: 10px;
	background: #eee;
	border: 1px solid #dddddd;
}

#message-quote .quote {
	padding: 10px;
	background: #eee;
	border: 1px solid #dddddd;
}

.messages .message .quote .author, #message-quote .quote .author {
	display: block;
}

.flipped {
	transform: rotate(180deg);	
}