
#attachments .attachments li {
	padding: 8px 0;
	margin-bottom: 5px;
}

#attachments .attachment {
	margin-left: 10px;
}

#attachments .attachment .author .delete {
	color: #424242;
}

#new-attachment form img.pending {
	display: none;
}

#new-attachment form.pending img.pending {
	display: inline-block;
}