@CHARSET "ISO-8859-1";

#FeedbackFlowSubmitSurvey {
	max-width: 550px;
}

#FeedbackFlowSubmitSurvey h1 {
	padding-top: 0;
	padding-left: 0;
}

#FeedbackFlowSubmitSurvey .comment-wrapper {
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    text-align: right;
}

#FeedbackFlowSubmitSurvey .comment-wrapper textarea {
	height: inherit;
}

#FeedbackFlowSubmitSurvey .alternative {
	display: block;
}

#FeedbackFlowSubmitSurvey input[type="button"], #FeedbackFlowSubmitSurvey a.comment-btn {
	display: inline;
	width: inherit;
}

* ~ #FeedbackFlowSubmitSurvey .title-border {
	border-top: 1px solid #b9e2c2;
    padding: 15px 0 0;
}

@media screen and (max-width: 625px) {
	
	#FeedbackFlowSubmitSurvey a {
		margin-bottom: 5px;
	}
	
	#FeedbackFlowSubmitSurvey input[type="button"] {
		width: inherit;
	}
}

@media screen and (max-width: 1204px) {
	#FeedbackFlowSubmitSurvey {
		padding-bottom: 18px;
	}
	#FeedbackFlowSubmitSurvey label.radio {
		padding-top: 0px;
	}
	#FeedbackFlowSubmitSurvey label.radio::before {
		margin-top: 0;
	}
}
