@CHARSET "ISO-8859-1";

#NotificationHandlerModule article:after {
  content: "";
  display: table;
  clear: both;
}
#NotificationHandlerModule article a {
  padding: 0;
}
#NotificationHandlerModule article.no-events {
    font-weight: 600;
    padding: 12px 0 16px;
}
#NotificationHandlerModule article .inner {
  padding: 16px 0;
}
#NotificationHandlerModule article .inner h3 {
  padding-bottom: 2px;
}
#NotificationHandlerModule article .inner .notification {
	display: block;
}
#NotificationHandlerModule article .inner .notification:not(:last-child) {
  padding-bottom: 5px;
}
#NotificationHandlerModule article .bullet {
  display: inline-block;
  float: none;
  height: 6px;
  padding: 6px 10px 0 0;
  text-align: right;
  font-size: 6px;
}
#NotificationHandlerModule article .bullet i {
  float: right;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background: #b1b1b1;
}
#NotificationHandlerModule article .inner .notification.unread .bullet i {
  background: #2969bf;
}
#NotificationHandlerModule article .inner .author {
  display: block;
  font-size: 12px;
  padding-top: 4px;
  padding-left: 16px;
}
#NotificationHandlerModule article .inner .author i {
  display: inline;
  font-weight: normal;
  margin-right: 7px;
  color: #cacaca;
}
#NotificationHandlerModule article .inner a.notification:hover {
  background-color: #f3f8ff;
}
#NotificationHandlerModule a {
  font-size: 14px;
  text-shadow: none;
  color: #424242;
  font-weight: normal;
  padding: 0;
  margin: 0;
}
#NotificationHandlerModule a:after {
  content: "";
  display: table;
  clear: both;
}