.contactdetailquery .input-error .error {
	display: flex;
	align-items: center;
	margin-top: 8px;
} 

.contactdetailquery .input-error .error i {
	margin: unset;
	margin-right: 5px;
	
	display: inline-block;
	position: relative;
	right: 0;
	bottom: 0;
	width: unset;
	height: unset;
}

.contactdetailquery .split {
	float: left;
    width: 422px;
    margin-bottom: 26px;
}

.contactdetailquery .split:not(.odd) {
    clear: left;
}

.contactdetailquery .split.odd {
    width: 392px;
}

@media screen and (max-width: 768px) {
	.contactdetailquery .split {
	    width: 100%;
	}
	.contactdetailquery .split.odd {
	    width: 100%;
	}
}

.contactdetailquery .split .left input[type=text] {
    width: 134px;
}

.contactdetailquery .split .left {
    float: left;
    width: 191px;
}

.contactdetailquery .split .right {
    float: left;
    width: 202px;
}

@media screen and (min-width: 1005px) {
    .contactdetailquery .split input[type=text], .contactdetailquery .split input[type=date], .contactdetailquery .split input[type=password] {
        width: 388px;
    }
    
    .contactdetailquery .split .right input[type=text], fieldset .split .right input[type=password] {
        width: 198px;
    }
    
    .contactdetailquery .split .left input[type=text], fieldset .split .left input[type=password] {
        width: 158px;
    }
    
    .contactdetailquery .split .right {
        float: left;
    }
}

.contactdetailquery .input-error .error a {
	color: #424242;
	text-decoration: underline;
	display: block;
} 

@media screen and (max-width: 767px) {
	.contactdetailquery .input-error i {
		display: block;
		pointer-events: none;
		position: static;
		height: auto;
		width: auto;
		margin: auto;
	}
	
	.contactdetailquery .input-error i::after {
    float: right;
/*     display: inline-block; */
    content: attr(title);
/*     text-align: left; */
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-right: 5px;
  }
  
  .contactdetailquery .input-error input {
		padding: 12px !important;
	}
}