@media screen and (max-width: 767px) {
	.contactdetailquery .input-error i {
		display: block;
		pointer-events: none;
		position: static;
		height: auto;
		width: auto;
		margin: auto;
	}
	
	.contactdetailquery .input-error i::after {
    float: right;
/*     display: inline-block; */
    content: attr(title);
/*     text-align: left; */
    font-family: "Source Sans Pro",sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
    margin-right: 5px;
  }
  
  .contactdetailquery .input-error input {
		padding: 12px !important;
	}
}