@CHARSET "ISO-8859-1";

.organizationdetailquery .input-error .error {
	display: flex;
	align-items: center;
	margin-top: 8px;
} 

.organizationdetailquery .input-error .error i {
	margin: unset;
	margin-right: 5px;
	
	display: inline-block;
	position: relative;
	right: 0;
	bottom: 0;
	width: unset;
	height: unset;
}

select.organization {
	float: left;
	width: 250px;
	margin-right: 5px;
	margin-bottom: 5px;
}

a.btn-newOrganization {
	padding: 8px 20px 9px;
}

a.btn-newOrganization:hover {
	padding-top: 7px !important;
}


.organizationdetailquery .split {
	float: left;
    width: 422px;
    margin-bottom: 26px;
}

.organizationdetailquery .split:not(.odd) {
    clear: left;
}

.organizationdetailquery .split.odd {
    width: 392px;
}

.organizationdetailquery .split .left {
    float: left;
    width: 191px;
}

.organizationdetailquery .split .right {
    float: left;
    width: 202px;
}

.organizationdetailquery .split .left input[type=text] {
    width: 134px;
}

.organizationdetailquery .split .right input[type=text] {
    width: 174px;
}

@media screen and (max-width: 768px) {
	.organizationdetailquery .split {
	    width: 100%;
	}
	.organizationdetailquery .split.odd {
	    width: 100%;
	}
}

@media screen and (min-width: 1005px) {
    .organizationdetailquery .split input[type=text], .organizationdetailquery .split input[type=date], .organizationdetailquery .split input[type=password] {
        width: 388px;
    }

    .organizationdetailquery .split .right {
        float: left;
    }

    .organizationdetailquery .split .left input[type=text], .organizationdetailquery .split .left input[type=password] {
        width: 158px;
    }
    
    .organizationdetailquery .split .right input[type=text], .organizationdetailquery .split .right input[type=password] {
        width: 198px;
    }
}
