@CHARSET "ISO-8859-1";

.mapquery {
	margin-top: 10px;
	height: 550px;
	min-height: 550px;
	width: 100%;	
	clear: both;
	background: #FFFFFF url("../pics/loading.gif") 50% 50% no-repeat;
	position: relative;
}

.mapquery-error {
	border: 1px solid #e04346;
	-moz-box-shadow: 0 0 8px #E04346;
	-webkit-box-shadow: 0 0 8px #E04346;
	box-shadow: 0 0 8px #E04346;
}

.mapquery-searchwrapper {
	clear: both;
}

.mapquery-searchwrapper .mapquery-searchtool {
	float: left;
	margin: 0 20px 20px 0;
	display: none;
	width: 40%;
}

.mapquery-searchwrapper .mapquery-searchtool h3 {
	font-size: 16px;
    margin-bottom: 5px;
}

.mapquery-searchwrapper .searchpud .x-form-text {
	padding: 7px 5px !important;
	width: 96% !important;
}


.mapquery-pudinfo-wrapper {
	margin-top: 10px;
	font-weight: 700;
}

.mapquery-pudinfo-wrapper span {
	font-weight: normal;	
}

.mapquery-objectconfigwrapper {
	background: none repeat scroll 0 0 #FFFFFF;
    position: absolute;
    right: 15px;
    top: 15px;
    width: 200px;
    z-index: 50;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    height: 500px !important;
}

.mapquery-objectconfigwrapper span.header {
	display: block;
	background-color: #424242;
    border-radius: 4px 4px 0 0;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 7px 5px 7px 10px;
}

.mapquery-objectconfigwrapper .x-panel-default {
	width: auto !important;
	height: auto !important;
}

.mapquery-objectconfigwrapper .x-panel-body-default {
	height: auto !important;
}

.mapquery-objectconfigwrapper .x-border-box {
	margin: 3px 7px 3px;
}

.oep-map-tools {
    display: block !important;
}

.mapquery-objectconfigwrapper .x-column {
	clear: both;
	width: 180px;
}

.mapquery-objectconfigwrapper .x-column img {
	width: 175px;
}

.mapquery-objectconfigwrapper .x-layer {
	position: relative !important;
	margin: 0 !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	border: none;
}

.mapquery-objectconfigwrapper .x-window-body-default {
	width: 200px !important;
	height: 420px !important;
	top: 5px !important;
}

.mapquery-objectconfigwrapper .x-window-header-default {
	display: none;
}

.mapquery-objectconfigwrapper .x-css-shadow {
	box-shadow: none !important;
}

.mapquery-startinstruction {
	display: none;
	width: 450px !important;
}

.mapquery-startinstruction a.btn {
	float: right;
}

.olPopupContent .pudinfo {
	font-size: 14px;
	font-weight: 700;
	white-space: nowrap;
}

.olPopupContent .pudinfo span {
	font-weight: normal;	
}

.puddialog-hidden {
	visibility: hidden;
	position: absolute;
	left: -999;
	top: -999;
	width: 360px;
}

.puddialog {
	text-align: center;
	font-weight: normal;
}

.puddialog .btn {
	margin-top: 5px;
    width: 30%;
    display: inline-block;
}

.puddialog .done-btn {
	margin-right: 5px;
}

.puddialog span {
	font-weight: 600;
}

.mapquerydialog .puddialog {
	width: 360px;
}