@CHARSET "ISO-8859-1";

#flow-approval table td {
	border-bottom: none;
	border-top: 1px solid #fff;
}

#flow-approval table tr.activitygroup td {
	border-top: 1px solid black;
	border-top-color: black !important;
}

#flow-approval table tr.activity + tr.activitygroup td {
	border-top-color: black !important;
}

#flow-approval table tr.activity:last-child td {
	border-bottom: 1px solid black !important;
}

#flow-approval .history-button:focus {
	outline: none;	
}

#flow-approval .history-button:after {
	font-size: 33px;
}

#flow-approval a.history-button:hover {
	color: #1b447c;
}

.ui-autocomplete.ui-front {
	z-index: 2147483647;
}