@CHARSET "ISO-8859-1";

#flow-approval table td {
	border-bottom: none;
	border-top: 1px solid #fff;
}

#flow-approval table tr.activitygroup td {
	border-top: 1px solid black;
	border-top-color: black !important;
}

#flow-approval table tr.activity + tr.activitygroup td {
	border-top-color: black !important;
}

#flow-approval table tr.activity:last-child td {
	border-bottom: 1px solid black !important;
}

.buttons.flexright {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.buttons.flexright.block {
	display: block;
	width: 100%;
}
.buttons.flexright.block .btn.btn-inline {
	width: 100%;
	margin-bottom: 3px;
}

@media screen and (max-width: 767px) {
	.buttons.flexright {
	 	display: block;
		width: 100%;
	}
	
	.buttons.flexright .btn.btn-inline {
		width: 100%;
		margin-bottom: 3px;
	}
}