@CHARSET "ISO-8859-1";

#GeneralMapQueryProvider .lightbackground {
	background-color: #f5f5f5;
}

.tools input[type=checkbox] {
  display: none !important;
  *float: left;
  *margin: 8px 11px 11px;
  *background: none;
  *border: 0;
}

.tools input[type=checkbox]:checked + label:before {
  line-height: 12px;
  padding: 0;
  text-align: center;
}

.tools input[type=checkbox]:checked + label.disabled:before {
  content: "c";
  font-size: 18px;
  line-height: 12px;
  padding: 0;
  text-align: center;
  color: #7d7d7d;
  background: #e7e7e7;
  border-color: #cacaca;
}

.tools input[type=checkbox]:checked + label {
	background-color: #222;
  	background-position: center -41px;
}

.tools input[type=checkbox]:checked + label.disabled {
  color: #424242;
}

.tools label {
  display: inline;
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}

.tools input[type=checkbox] + label:active:before {
  background: #e0f5e7;
}

.tools input[type=checkbox] + label.disabled:active:before {
  background: #e7e7e7;
}

.tools label.checkbox {
  position: relative;
  display: block;
  padding: 0 0 6px 26px;
  cursor: pointer;
  background-color: #FFF;
  background-repeat: no-repeat;
  background-position: center 4px;
}

.tools label.checkbox:before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 27px;
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 11px;
  border: 1px solid #d4d4d4;
  background: none;
  border-radius: 0;
  *display: none;
}

.tools label.checkbox.radio:before {
  border-radius: 9px;
}

.tools .tool {
	float: left;
}